.dvEditor {
    height:120px;
}

[data-role='fgContent'],
[data-role='bgContent'],
[data-role='bgWrapper'] {
    padding:0px;
    margin:0px
}



[data-role='editorWrapper'] {
    width: 100%;
    position: relative;
}

[data-role='fgContent'] {
    background: transparent;
    color: transparent;
    z-index: 2;
    font-family: monospace;
    font-size: 1em;
}

[data-role='bgContent'] {
    font-family: monospace;
    font-size: 1em;  
}

[data-role='fgContent'],
[data-role='bgWrapper'] {
    font-family: monospace;
    font-size: 1em;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    resize: none;
    min-height: 32px;
    overflow: auto;
    white-space: pre; /* Allows textarea to scroll horizontally */
}

[data-role='bgWrapper'] {
    background: #fff;
    z-index: 1;
    height: 100%;
    overflow: auto;
}

[data-role='editorWrapper'] .highlight {
    background: turquoise;
}